###############################################################################
# Explicitly declare programming languages for the following files
###############################################################################

Samples/**                                  linguist-documentation=false
